html,
body {
  margin: 0 auto;
  background-image: url("graywall.jpg");
  background-size: 100%;
  font-size: 20px;
  height: 100%;
  width: 100%;
  font-family: 'Titan One', cursive;
  background-color: slategray;
}
.container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}
.container .header {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.container .header .heading {
  margin: 0 auto;
  background: white;
  padding: 10px;
  height: 100%;
  box-shadow: 2px 4px 8px 12px;
}
.container .header .heading .welcome {
  color: paleturquoise;
  text-shadow: 3px 4px 2px black;
  list-style: none;
  font-size: 2rem;
}
.container .header .heading .author {
  color: goldenrod;
  text-shadow: 3px 4px 2px black;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
}
.game {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 480px;
  width: 640px;
  background: lightgray;
  margin: 50px auto;
  box-shadow: 0px 2px 8px 10px;
}
